body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  letter-spacing: -0.7px;
}

.headerSection {
  background-color: black;
  text-align: center;
  margin: 2.5rem 2.5rem 3.5rem 2.5rem;
  color: white;
  border-radius: 2.5rem;
}

.headerSection p {
  font-weight: lighter;
  font-size: 1.5rem;
  padding: 0.8rem;
}

p:first-letter {
  text-transform: capitalize;
}

.movesSection,
.winnerSection,
.startSection {
  text-align: center;
}

.winnerSection,
.startSection {
  margin-top: 5.2rem;
}

.playerSum,
.compSum,
.winnerQuote,
.rules {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.compSum {
  margin-top: 2.5rem;
}

.playerMove,
.compMove,
.winner,
.tools {
  margin: 0;
  font-size: 12rem;
  margin: 0;
  padding: 0;
  line-height: 11rem;
  letter-spacing: -0.5rem;
}

.winner {
  white-space: pre;
}

button {
  font-size: 2.5rem;
  padding: 2.5rem;
  border-radius: 7rem;
  border: solid black 0.2rem;
  background-color: white;

  transition: 0.2s;
}

button:hover {
  background-color: black;
  color: white;
}

.playerSection,
.resetSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  position: absolute;
  width: calc(100% - 5rem);
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  bottom: 2.5rem;
}

.displayNone {
  display: none;
}

.resetSection :first-child {
  grid-column: 2 / span 1;
}
